$grey: #2B2D42;
$pink: #E86A92;
$yellow: #F7EFBE;
$white: #F7F7F9;
$mint:#6FB379;
$menuItemFont: 'M PLUS 1 Code', sans-serif;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.navbar {
  background-color:  #9873AC!important;
  .navbar-brand {
    font-family: 'Leckerli One', cursive;
    color: $white;
  }
  .nav-link {
    color: $white !important;
  }
  img {
    height: 30px;
  }

}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #F7F7F9;
}

h1 { 
  color: $pink;
  font-size: 5em;
  font-family: 'Leckerli One', cursive;
  
}

.nowrap {
  white-space: nowrap;
}

h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.1em;
}

h2 {
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  font-family: 'M PLUS 1 Code', sans-serif;

  font-size: 3em;
  color: $grey;
}

.brandHeader {
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
  img {
    height: 1.8em;
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}



.menu {
  background-color: $white;

  min-height: 100%;
  // min-height: 100vh; 
  .col {
    cursor: pointer;
  }

  .card-img-top {
    height: 26vw;
    object-fit: cover;
  }
  .card-body {
    background-color: #FFD1DC;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    vertical-align: middle;
  }
  .card-text {
    color: $grey;
    font-family: $menuItemFont;
    font-size: 1.5em;
    
  }
  .btn {
    font-family: 'Anton', sans-serif;
    font-family: 'M PLUS 1 Code', sans-serif;
    background-color: $pink;
    border-color: $pink;
  }
}

.modal-content {
  font-family: $menuItemFont;

  .col {
    max-height: 275px;
    // border-style: solid;
  }

  .modal-title {
    font-size: 1.8em;
  }
  .img-fluid {
    // height: 26vw;
    max-height: 100%;
  }
  .quantity {
    // border-style: solid;
    span {
      width: 100%;

    }
    .btn {
      width: 100%;
      background-color: $pink;
    }
  }
  .modal-footer {
    .btn {
      flex-grow: 1;
      flex-basis: 0;
      font-weight: bold; 
      background-color: grey;
      border-color: grey;

    }
    .btn.cart-btn {
      background-color: $pink;
      border-color: $pink;
    }
  }
}


.header-image {
  width: 100vw;
  position: relative;
margin-left: -50vw;
margin-right: -50vw;
opacity: .60;
}

.container {
  position: relative;
}

.footer {
  background-color: $white;
  padding: 20px;
  color: $grey;
  border-top: 1px dotted $grey;
  img {
    height: 26px;
  }
}

.login-form {
  min-height: 100%;
  min-height: 100vh; 
  background-color: $yellow;

  .col {
    -ms-flex: 0 0 500px;
    flex: 0 0 500px;
    .btn {
      width: 100% !important;
      margin-top: 1em;
      background-color: $grey;
      border-color: $grey;
    }
    
  }

  .guestBtn {
    margin-top: 2em !important;
    background-color: transparent !important;
    color: $grey;
  }

  .accountBtn {
    background-color: transparent !important;
    color: $grey;

  }

  .form-check {
    text-align: left !important;
    margin-top: 1em;
  }

}

.signUpForm {
  text-align: left;
  p {
    text-decoration: underline !important;
    text-align: center;
    
  }
  p:hover {
    color: $pink;
    cursor: pointer;
  }
}

.img-hover-zoom {
  overflow: hidden; 
}

.img-hover-zoom img {
  transition: transform .5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.1);
  opacity: 0.9;
}

// .cart-overview {
//   display: flex;
//   // overflow: hidden;
//   .cart-info {
//     width: 100%;
//     float: left;
//     background-color: gray;
//   }
  
//   .cart-total {
//     background-color: chartreuse;
//     width: 280px;
//     // overflow: hidden;
//   }
// }

.cart-total {
  // .btn {
  //   width: 100%;
  // }
}

.cart-columns {
  text-transform: uppercase;
}

.cart-items {
  .btn {
    background-color: transparent;
    border-color: $pink;
    border-width: 2px;
    color: $pink;

  }
  .cart-count {
    cursor: default;
    margin: 0px 2px 0px 2px;
  }
  img {
    height: 36px;
    cursor: pointer;
  }

}

.cart-total {
  .btn {
    background-color: transparent;
    border-color: $grey;
    color: $grey;

  }
  h5 {
    font-family: $menuItemFont;
    font-weight: bold;
  }
}

.together {
  white-space: nowrap;
}


