$grey: #2B2D42;
$pink: #E86A92;
$yellow: #F7EFBE;
$white: #F7F7F9;
$mint:#6FB379;
$menuItemFont: 'M PLUS 1 Code', sans-serif;

.App {
  text-align: center;
  padding-bottom: 60px; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.navbar {
  background-color:  #9873AC!important;
  .navbar-brand {
    font-family: 'Leckerli One', cursive;
    color: $white;
  }
  .navbar-brand:hover, .nav-link:hover {
    color: $pink !important;
  }
  .nav-link {
    color: $white !important;
  }
  img {
    height: 30px;
  }

}

html, body {
  width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  background-color: #F7F7F9;
}

h1 { 
  color: $pink;
  font-size: 5em;
  font-family: 'Leckerli One', cursive;
  
}

.nowrap {
  white-space: nowrap;
}

h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.1em;
}

h2 {
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  font-family: 'M PLUS 1 Code', sans-serif;

  font-size: 3em;
  color: $grey;
}

.brandHeader {
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;
  img {
    height: 1.8em;
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}


input:placeholder-shown + label {
  color: gray;
}

.menu {
  background-color: $white;

  min-height: 100%;

  .col {
    cursor: pointer;
  }

  .card-img-top {
    height: 26vw;
    object-fit: cover;
  }
  .card-body {
    background-color: #FFD1DC;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    vertical-align: middle;
  }
  .card-text {
    color: $grey;
    font-family: $menuItemFont;
    font-size: 1.5em;
  }

  .btn {
    font-family: 'Anton', sans-serif;
    font-family: 'M PLUS 1 Code', sans-serif;
    background-color: $pink;
    border-color: $pink;
  }
  .btn:hover {

    background-color: #E75480;
    border-color: #E75480;
  }
}

.modal-content {
  font-family: $menuItemFont;

  .col {
    display: flex;
    max-height: 100%;
    align-items: center;
  }

  .modal-title {
    font-size: 1.8em;
    font-weight: bold;
  }
  .img-fluid {
    max-height: 100%;
  }
  .quantity {
    span {
      width: 100%;

    }
    .btn {
      width: 100%;
      background-color: $pink;
    }
  }


  .item-column-right {
    flex-direction: column;
    justify-content: space-around;
    

  }

  h5 {
    font-weight: 500;
  }

  p {
    color: red;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 0;
  }

  .modal-footer {

    .btn {
      flex-grow: 1;
      flex-basis: 0;
      font-weight: bold; 
      background-color: grey;
      border-color: grey;
    }

    .btn:not(.cart-btn):hover {
      background-color: #909090;
      border-color: #909090;
    }

    .btn.cart-btn {
      background-color: $pink;
      border-color: $pink;
    }
    .btn.cart-btn:hover {
      background-color: #E75480;
      border-color: #E75480;
    }
  }
}

#root {
  position: relative;
  min-height: 100vh;
}


.header-image {
  width: 100vw;
  position: relative;
margin-left: -50vw;
margin-right: -50vw;
opacity: .60;
}

.container {
  position: relative;
}

.footer {
  background-color: $white;
  padding: 20px;
  color: $grey;
  border-top: 1px dotted $grey;
  display: flex;
  justify-content: center;
  align-items: center;
  // below added
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  img {
    height: 26px;
  }
}

.login-container {
  min-height: 100%;
  min-height: 100vh; 
  background-color: white;


  .form-col {
    -ms-flex: 0 0 500px;
    flex: 0 0 500px;
    // border-radius: 25px;
    border: 2px solid purple;

    .btn {
      width: 100% !important;
      margin-top: 1em;
      background-color: #9873AC;
      border-color: #9873AC;
    }

    .btn:hover {
      background-color: $pink;
      border-color: $pink;
    }
    p {
      text-decoration: underline !important;
      text-align: center;
      
    }
    p:hover {
      color: $pink;
      cursor: pointer;
    }

    a {
      color: $grey;
    }
    a:hover {
      color: $pink;
    }
    
  }

  .guestBtn {
    margin-top: 2em !important;
    background-color: transparent !important;
    color: $grey;
  }

  .accountBtn {
    background-color: transparent !important;
    color: $grey;
    margin-bottom: 12px;

  }

  .form-check {
    text-align: left !important;
    margin-top: 1em;
  }

}

.signUpForm {
  text-align: left;
}

.img-hover-zoom {
  overflow: hidden; 
}

.img-hover-zoom img {
  transition: transform .5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.1);
  opacity: 0.9;
}

// .cart-overview {
//   display: flex;
//   // overflow: hidden;
//   .cart-info {
//     width: 100%;
//     float: left;
//     background-color: gray;
//   }
  
//   .cart-total {
//     background-color: chartreuse;
//     width: 280px;
//     // overflow: hidden;
//   }
// }

.cart-total {
  // .btn {
  //   width: 100%;
  // }
}

.cart-columns {
  text-transform: uppercase;
}

.cart-items {


  .increment-column {
    display: flex;
    text-align: center;
    justify-content: center;
    .btn-group {
      max-width: 100%;
      max-width: 140px;
      .btn:not(.cart-count):hover {
        background-color: $pink !important;
        color: $white !important;
      }
    }

  }


  .btn {
    background-color: transparent;
    border-color: $pink;
    color: $pink;

  }

  .cart-count {
    cursor: default;
    font-weight: bold;
  }
  .trash-image {
    height: 36px;
    cursor: pointer;
  }
  .trash-image:hover {
    transform: scale(1.09); 
  }

}

.cart-total {
  border-style: solid;
  flex-direction: column;
  .btn {
    background-color: transparent;
    border-color: $grey;
    color: $grey;

  }
  h5 {
    font-family: $menuItemFont;
    font-weight: bold;
  }
}

.new {
  flex-direction: column;

  h5 {

    strong {
      display: block;
    }

  }

  .btn.clear-cart-btn {
    background-color: transparent;
    border-color: $grey;
    color: $grey;
  }
  
  .btn.clear-cart-btn:hover {
    background-color: gray;
    border-color: gray;
    color: $white;
  }
  .btn {
    background-color: $pink;
    border-color: $pink;
    color: $white;
  }
  .btn:hover {
    background-color: #9873AC;
    border-color: #9873AC;
  }
}


.checkout-form {
  input:placeholder-shown + label {
    color: gray;
  }

  .checkout-col {
    -ms-flex: 0 0 500px;
    flex: 0 0 500px;
  }
  .cardInputWrapper {
    border: 1px solid #D3D3D3;
    border-radius: 8px;
    padding: 20px 4px;
    background-color: #fff;
  }
  .btn {
    width: 100%;
    background-color: $pink;
    border-color: $pink;
    font-weight: bold; 
    // font-family: $menuItemFont;
    font-size: 20px;
  }
}




