$grey: #2B2D42;
$pink: #E86A92;
$yellow: #F7E733;
$white: #F7F7F9;
$mint: #41E2BA;




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.navbar {
  background-color: #2B2D42!important;
  .navbar-brand {
    font-family: 'Leckerli One', cursive;
    color: $mint;
  }
  .nav-link {
    color: $mint !important;
  }
  img {
    height: 30px;
  }

}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #F7F7F9;
}

h1 { 
  color: $pink;
  font-size: 5em;
  font-family: 'Leckerli One', cursive;
}

.nowrap {
  white-space: nowrap;
}

h6 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.1em;
}

.brandHeader {
  img {
    height: 1.8em;
  }
}

.menu {
  background-color: $yellow;

  min-height: 100%;
  min-height: 100vh; 

  // display: flex;

  // min-height: 100%;
  // max-height: 100%;
  // height: 100vh;
  // .row  {
  //   background-color: $yellow !important;
  // }
  .card-img {
    height: 26vw;
    object-fit: cover;
  }
}

.footer {
  background-color: $pink;
  padding: 20px;
  color: $white;
  
  img {
    height: 26px;
  }
}

