$grey: #2b2d42;
$pink: #e86a92;
$yellow: #f7efbe;
$white: #f7f7f9;
$mint: #6fb379;
$menuItemFont: "M PLUS 1 Code", sans-serif;

.App {
  text-align: center;
  padding-bottom: 60px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.navbar {
  background-color: $white !important;
  border-bottom: 1px dotted #bbaa99;

  background: repeating-linear-gradient(
    45deg,
    #fff8e150,
    #fff8e150 10px,
    #ffb6c15b 10px,
    #ffb6c15b 20px
  );
  .navbar-brand {
    font-family: "Leckerli One", cursive;
    font-size: 1.4em;
    color: $pink;
  }

  .navbar-brand:focus {
    color: #9873ac !important;
  }

  .navbar-brand:hover,
  .nav-link:hover {
    color: #e75480 !important;
  }
  .nav-link {
    font-family: "Red Hat Mono", monospace;
    font-weight: 900;
    font-size: 1.1em;
    color: #9873ac !important;
  }
  img {
    height: 30px;
  }
}

.admin-nav {
  background: white;
  height: 2em;
  .nav-link {
    color: black !important;
  }
}

html,
body {
  width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  background-color: $white;
}

h1 {
  color: $pink;
  font-size: 3.5em;
  font-family: "Leckerli One", cursive;
}

h4 {
  font-family: "Leckerli One", cursive;
  font-size: 2em;
  color: $pink;
  margin: 8px 0px;
}

.nowrap {
  white-space: nowrap;
}

h6 {
  font-family: "Open Sans Condensed", sans-serif;
  span {
    font-size: 1.5em;
  }
  img {
    height: 1.4em !important;
    
  }
}

h2 {
  // font-weight: bold;
  font-family: "Red Hat Mono", monospace;
  // font-family: 'Anton', sans-serif;
  // font-family: 'M PLUS 1 Code', sans-serif;

  font-size: 2.5em;
  color: grey;
}

.brandHeader {
  animation: fadeIn linear 3s;
  -webkit-animation: fadeIn linear 3s;
  -moz-animation: fadeIn linear 3s;
  -o-animation: fadeIn linear 3s;
  -ms-animation: fadeIn linear 3s;

  // background-color: #BCEAF1;
  img {
    height: 1.6em;
  }

  h1 {
    margin-bottom: 0;
  }

  h3 {
    font-size: 1.5em;
    position: relative;
    bottom: 10px;
    left: 70px;
    font-family: "Red Hat Mono", monospace;
  }

  h6 {
    position: relative;
    bottom: 10px;
  }
}

hr {
  
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn:active {
  background-color: none;
}

.btn {
  background-color: #ffb6c1;
  border-color: #ffb6c1;
  color: grey;
  border-radius: 0%;
}

input:placeholder-shown + label {
  color: gray;
}

// input {
//   -webkit-border-radius: 25px !important;
//   -moz-border-radius: 25px !important;
//    border-radius: 25px !important;
// }

.menu {
  // background-color: $white;
  font-family: "Red Hat Mono", monospace;
  min-height: 100%;

  .row {
    padding: 0px 16px 0px 16px;
  }

  .card {
    border-color: white;
    max-height: 500px;
    cursor: pointer;
  }

  .card-img-top {
    height: 22vw;
    object-fit: cover;
  }

  .card:hover > .card-body {
    background-color: #f8e1ff;
  }

  @media (max-width: 1199.98px) {
    .card-img-top {
      height: 36vw;
    }
  }
  .card-body {
    color: #9873ac;
    background-color: #fff8e1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    // align-items: stretch;
    align-items: center;
    vertical-align: middle;
  }
  .card-text {
    // color: gray;
    font-size: 1.5em;
  }

  .btn {
    background-color: #ff9dab;
    border-color: #ffb6c1;
    color: grey;
    border-radius: 0%;
    min-width: 32%;
    align-self: end;
    // height: 3em;
  }
  .btn:hover {
    background-color: #66bb6a;
    border-color: #66bb6a;
  }
}

.modal-content {
  // font-family: 'Anton', sans-serif;
  font-family: "Red Hat Mono", monospace;

  p {
    color: red;
  }
  .col {
    display: flex;
    max-height: 100%;
    align-items: center;
  }

  .modal-title {
    font-size: 1.8em;
    font-weight: 100;
    // color: #9873AC;
  }
  .img-fluid {
    max-height: 100%;
  }
  .quantity {
    span {
      width: 100%;
    }
    .btn {
      width: 100%;
      background-color: $pink;
    }
  }

  .item-column-right {
    flex-direction: column;
    justify-content: space-around;
  }

  .modal-footer {
    .btn {
      flex-grow: 1;
      flex-basis: 0;
      font-weight: bold;
      background-color: grey;
      border-color: grey;
      color: white;
    }

    .btn:not(.cart-btn):hover {
      background-color: #909090;
      border-color: #909090;
    }

    .btn.cart-btn {
      background-color: $pink;
      border-color: $pink;
    }
    .btn.cart-btn:hover {
      background-color: #e75480;
      border-color: #e75480;
    }
  }
}

#root {
  position: relative;
  min-height: 100vh;
}

.header-image {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  margin-right: -50vw;
  opacity: 0.6;
}

.container {
  position: relative;
}

.footer {
  // background-color: $white;
  padding: 20px;
  color: $grey;
  border-top: 1px dotted #bbaa99;
  display: flex;
  justify-content: center;
  align-items: center;
  // below added
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  img {
    height: 26px;
  }
}

.login-container {
  min-height: 100%;
  padding-bottom: 45px;
  // min-height: 100vh;
  // background-color: white;

  .form-col {
    -ms-flex: 0 0 500px;
    flex: 0 0 500px;
    background-color: #bceaf1a8;
    border-color: #67898e;
    border-style: dotted;
    border-width: 0.5ex;

    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 70px rgba(0, 0, 0, 0.12);

    input {
      -webkit-border-radius: 25px !important;
      -moz-border-radius: 25px !important;
    }

    .btn {
      width: 100% !important;
      margin-top: 1em;
      color: #67898e;
      height: 2.8em;
      -webkit-border-radius: 25px !important;
      background-color: $pink;
      color: white;
      border-color: $pink;
    }

    .btn.btn-primary.btn-lg:focus,
    .btn.btn-primary.btn-lg:active {
      background-color: $pink !important;
      border-color: $pink !important;
    }

    .btn:hover {
      background-color: #ffb6c1;
      border-color: #ffb6c1;
    }
    p {
      text-decoration: underline !important;
      text-align: center;
    }
    p:hover {
      color: $pink;
      cursor: pointer;
    }

    a {
      color: $grey;
    }
    a:hover {
      color: $pink;
    }
  }

  .guestBtn {
    margin-top: 2em !important;
    background-color: transparent !important;
    color: $grey;
  }

  .accountBtn {
    background-color: transparent !important;
    color: $grey;
    margin-bottom: 12px;
  }

  .form-check {
    text-align: left !important;
    margin-top: 1em;
  }
}

.signUpForm {
  text-align: left;

  .passwordHelpText {
    width: 100%;
    text-align: justify;
    padding-bottom: 5px;
    text-align: center;
  }
}

.img-hover-zoom {
  overflow: hidden;
}

.img-hover-zoom img {
  transition: transform 0.5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.1);
  opacity: 0.9;
}

.cart-total {
  // .btn {
  //   width: 100%;
  // }
}

.cart-columns {
  text-transform: uppercase;
  font-family: "Red Hat Mono", monospace;
  font-weight: bold;
}

.cart-items {
  font-family: "Red Hat Mono", monospace;
  // font-size: 1.1em;
  .increment-column {
    display: flex;
    text-align: center;
    justify-content: center;
    .btn-group {
      max-width: 100%;
      max-width: 140px;
      .btn:not(.cart-count):hover {
        background-color: $pink !important;
        color: $white !important;
      }
    }
  }

  .btn {
    background-color: transparent;
    border-color: $pink;
    color: $pink;
  }

  .cart-count {
    cursor: default;
    font-weight: bold;
  }
  .trash-image {
    height: 36px;
    cursor: pointer;
  }
  .trash-image:hover {
    transform: scale(1.09);
  }
}

.cart-total {
  border-style: solid;
  flex-direction: column;
  .btn {
    background-color: transparent;
    border-color: $grey;
    color: $grey;
  }
  h5 {
    font-family: $menuItemFont;
    font-weight: bold;
  }
}

.new {
  flex-direction: column;

  h5 {
    strong {
      display: block;
    }
  }

  .btn.clear-cart-btn {
    background-color: transparent;
    border-color: $grey;
    color: $grey;
  }

  .btn.clear-cart-btn:hover {
    background-color: gray;
    border-color: gray;
    color: $white;
  }
  .btn {
    background-color: $pink;
    border-color: $pink;
    color: $white;
  }
  .btn:hover {
    background-color: #9873ac;
    border-color: #9873ac;
  }
}

.new > small {
  text-align: left;
}

.checkout-form {
  input:placeholder-shown + label {
    color: gray;
  }

  .checkout-col {
    -ms-flex: 0 0 500px;
    flex: 0 0 500px;
  }
  .cardInputWrapper {
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    padding: 20px 4px;
    background-color: #fff;
  }
  .btn {
    width: 100%;
    background-color: $pink;
    border-color: $pink;
    font-weight: bold;
    color: $white;
    // font-family: $menuItemFont;
    font-size: 20px;
  }

  .btn:hover {
    background-color: #ffb6c1;
    border-color: #ffb6c1;
  }
}

.accordion-button {
  align-items: flex-start;
}

.accordion {
  .row {
    text-align: left;
  }
  .row:first-child {
    text-align: center;
  }
}

.recovery-form {
  -ms-flex: 0 0 500px;
  flex: 0 0 500px;
  border-style: outset;
  background-color: #ffdae0;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 70px rgba(0, 0, 0, 0.12);
  .btn {
    width: 100%;
    background-color: $pink;
    border-color: $pink;
  }
  .btn:hover {
    background-color: #e75480;
    border-color: #e75480;
  }
}

.accordion-custom {
  button {
    display: block;
  }
}

